In [1]:
import numpy as np
import pandas as pd
train_data = pd.read_csv("../input/traindata/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
train_data.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [3]:
train_data.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [4]:
#Analyze the input data
#Pclass vs Survived
train_data[["Pclass","Survived"]].groupby(["Pclass"],as_index = False).mean().sort_values(by = "Survived",ascending = False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [5]:
#Analyze the input data
#Pclass vs Survived
train_data[["Pclass","Survived"]].groupby(["Pclass"],as_index = False).mean().sort_values(by = "Survived",ascending = False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [6]:
#Analyze the input data
#Sex vs Survived
train_data[["Sex","Survived"]].groupby(["Sex"],as_index = False).mean().sort_values(by = "Survived",ascending = False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [7]:
#Analyze the input data
#SibSp vs Survived
train_data[["SibSp","Survived"]].groupby(["SibSp"],as_index = False).mean().sort_values(by = "Survived",ascending = False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [8]:
#Analyze the input data
#Parch vs Survived
train_data[["Parch","Survived"]].groupby(["Parch"],as_index = False).mean().sort_values(by = "Survived",ascending = False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

In [9]:
#Analyze the input data
#Embarked vs Survived
train_data[["Embarked","Survived"]].groupby(["Embarked"],as_index = False).mean().sort_values(by = "Survived",ascending = False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.336957

In [10]:
#Load the test data
test_data = pd.read_csv("../input/testdata/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [11]:
#check for missing values
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
#filling missing values in train data set
train_data['Age'].fillna(train_data['Age'].mean(),inplace= True)
train_data.drop(columns = ["Cabin"], axis = 1, inplace = True)
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [13]:
#filling missing values in test data set
test_data['Age'].fillna(test_data['Age'].mean(),inplace= True)
test_data.drop(columns = ["Cabin"], axis = 1, inplace = True)
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [14]:
#Calculate Size and is_Alone columns for train data set
train_data['Size'] = train_data['SibSp'] + train_data['Parch']
train_data['is_Alone'] = [0 if x<1 else 1 for x in train_data['Size']]
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Size,is_Alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,1,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0,0

In [15]:
#Calculate Size and is_Alone columns for test data set
test_data['Size'] = test_data['SibSp'] + test_data['Parch']
test_data['is_Alone'] = [0 if x<1 else 1 for x in test_data['Size']]
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Size,is_Alone
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,1,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,2,1

In [16]:
#Calculate Fare range
train_data['Fare_range'] = pd.qcut(train_data['Fare'], 5)
train_data[["Fare_range","Survived"]].groupby(["Fare_range"],as_index = False).mean().sort_values(by = "Survived",ascending = False)

          Fare_range  Survived
4  (39.688, 512.329]  0.642045
3   (21.679, 39.688]  0.444444
2     (10.5, 21.679]  0.424419
0    (-0.001, 7.854]  0.217877
1      (7.854, 10.5]  0.201087

In [17]:
#Calculate Fare range
train_data['Fare_range'] = [0 if 39.688<x<512.329 else 1 if 21.679<x<39.688 else 2 if 10.5<x<21.679 else 4 if 7.854<x<10.5 else 4 for x in train_data['Fare']]
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Size,is_Alone,Fare_range
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,1,1,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,0,0,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0,0,4

In [18]:
#Calculate Fare range
test_data['Fare_range'] = [0 if 39.688<x<512.329 else 1 if 21.679<x<39.688 else 2 if 10.5<x<21.679 else 4 if 7.854<x<10.5 else 4 for x in test_data['Fare']]
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Size,is_Alone,Fare_range
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,0,0,4
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,1,1,4
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,0,0,4
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,0,0,4
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,2,1,2

In [19]:
#Calculate Age range
train_data['Age_range'] = pd.qcut(train_data['Age'], 5)
train_data[["Age_range","Survived"]].groupby(["Age_range"],as_index = False).mean().sort_values(by = "Age_range",ascending = False)

        Age_range  Survived
4    (38.0, 80.0]  0.372881
3  (29.699, 38.0]  0.444444
2  (28.0, 29.699]  0.301508
1    (20.0, 28.0]  0.360656
0   (0.419, 20.0]  0.458101

In [20]:
#Calculate Age range
train_data['Age_range'] = [0 if 38.0<x<80.0 else 1 if 29.699<x<38.0 else 2 if 28.0<x<29.699 else 4 if 20.0<x<28.0 else 4 for x in train_data['Age']]
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Size,is_Alone,Fare_range,Age_range
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,1,1,4,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1,1,0,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,0,0,4,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1,1,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0,0,4,1

In [21]:
#Calculate Age range
test_data['Age_range'] = [0 if 38.0<x<80.0 else 1 if 29.699<x<38.0 else 2 if 28.0<x<29.699 else 4 if 20.0<x<28.0 else 4 for x in test_data['Age']]
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Size,is_Alone,Fare_range,Age_range
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,0,0,4,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,1,1,4,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,0,0,4,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,0,0,4,4
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,2,1,2,4

In [22]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Age", "Embarked","is_Alone"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!